{% extends "bookmodule/layouts/base.html" %}

{% block title %}Lab9 Task3{% endblock title %}

{% block content %}
<h2>Oldest Book for Each Publisher</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Publisher</th>
        <th>Oldest Book</th>
        <th>Publication Date</th>
    </tr>

    {% for item in result %}
    <tr>
        <td>{{ item.publisher.name }}</td>
        <td>
            {% if item.oldest_book %}
                {{ item.oldest_book.title }}
            {% else %}
                No books
            {% endif %}
        </td>
        <td>
            {% if item.oldest_book %}
                {{ item.oldest_book.pubdate }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}